* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #005461;
  color: #f4f4f4;
}
nav {
  width: 100%;
  padding: 1rem 5%;
  background: #00b7b5;
  border-bottom: 1px solid #018790;
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

nav .nav-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #f4f4f4;
  letter-spacing: 1px;
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 8px;
}

.logo .icon {
  width: 60px;
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 30px;
}

.nav-links li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #005461;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #f6fbff;
  text-shadow: 0 0 10px #005461;
}

.btns {
  display: flex;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #f6fbff;
  color: #00b7b5;
  box-shadow: 0 0 15px #00363a;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #00363a;
  box-shadow: #00363a;
}
